@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family: 'Montserrat', sans-serif;


* {
  margin: 0;
  padding: 0;
  box-sizing:content-box;
}


::selection {
  color: #EDF860;
  background: #936EFE;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

span {
  color: #936EFE;
}


//Mixins Start

// Custom Styles
@mixin custom-style($color, $font-size, $font-weight, $line-height, $letter-spacing) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-family: $font-family;
}

// Button Styles
@mixin btn-style($color, $bgcolor, $py, $px, $radius) {
  color: $color;
  background: $bgcolor;
  padding: $py $px;
  border-radius: $radius;
}

// Flex Styles
@mixin flex-style($display, $flex-direction, $justify-content, $align-items) {
display: $display;
flex-direction: $flex-direction;
justify-content: $justify-content;
align-items: $align-items;
}

// Margin Styles
@mixin margin-style($mt, $mb, $ml, $mr) {
  margin-top: $mt + px;
  margin-bottom: $mb + px;
  margin-left: $ml + px;
  margin-right: $mr + px;
}

// Padding Styles
@mixin padding-style($pt, $pb, $pl, $pr) {
  padding-top: $pt + px;
  padding-bottom: $pb + px;
  padding-left: $pl + px;
  padding-right: $pr + px;
}

// Mixins End


// Header Start
header {
  @include margin-style(0, 0, auto, auto);
  @include padding-style(auto, auto, 140, 140);
  @include flex-style(flex, row, space-between, center);
  height: 98px;
  background-color: #000;

  .fa-bars,
  .fa-xmark {
    display: none;
  }

  // .logo {}

  nav {
    ul {
      list-style: none;
      display: flex;

      li {
        margin-right: 20px;

        a {
          @include custom-style(#FFF, 16px, 400, 0, 0.4px);
          text-align: right;
        }
        :hover {
          color: #EDF860;
        }
      }
    }
  }

  .login-signup {

    a {
      @include custom-style(#FFF, 16px, 400, 0, 0.4px);
      margin-left: 10px;
    }

    :hover {
      color: #EDF860;
    }

    a:last-child {
      margin-left: 2.7rem;
      @include btn-style(auto, #936EFE, 19px, 51px, 100px);
      font-size: 18px;
      font-weight: 700;
    }

    :hover:last-child {
      @include btn-style(#936EFE, #EDF860, 19px, 51px, 100px);
    }
  }

}
// Header End


// Hero Start
.hero {
  @include margin-style(130, 130, auto, auto);
  @include flex-style(flex, auto, center, auto);

  .hero-left {
    @include flex-style(flex, column, auto, auto);

    .top {
      @include flex-style(flex, row !important, flex-start, center);

      i {
        margin-right: 1rem;
        @include btn-style(#EDF860, #936EFE, 21px, 21px, 100px);
      }

      article {
        @include flex-style(flex, column, flex-start, flex-start);

        div {
          p {
            @include custom-style(#000, 24px, 500, 30px, auto);
          }
        }

        div {
          h5 {
            @include custom-style(#000, 14px, 400, 24px, auto);

            u {
              text-decoration-line: underline;
            }
          }
        }
      }
    }

    .main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 2rem;
      width: 100%;
      max-width: 844px;

      h1 {
        @include custom-style(#000, 100px, 700, 110px, auto);
      }
      
      p {
        margin-top: 3rem;
        width: 100%;
        max-width: 650px;
        @include custom-style(#000, 22px, 400, 36px, auto);
      }

      .subs {
        margin-top: 2.25rem;
        width: 100%;
        display: flex;

        input {
          width: 100%;
          max-width: 28.5rem;
          height: 5rem;
          border: none;
          text-indent: 40px;
          opacity: 0.6225;
          @include btn-style(auto, #F5F5F5, auto, auto, 40px);
          @include custom-style(#000, 20px, 400, 36px, auto);
        }
          input:focus {
            background: #EDF860;
            color: #936EFE;
            outline: none;
          }
  
        button {
          width: 216px;
          height: 80px;
          margin-left: .75rem;
          border: none;
          @include custom-style(#FFF, 20px, 500, 36px, auto);
          @include btn-style(auto, #936EFE, auto, auto, 40px);
        }
          button:hover {
            background: #EDF860;
            color: #936EFE;
          }
      }

      .statistics {
        margin-top: 100px;
        display: flex;
  
        article {
          margin-right: 3.75rem;
  
          h2 {
            @include custom-style(#000, 56px, 500, 0, auto);
          }
  
          p {
            margin-top: 3rem;
            @include custom-style(#B1B1B1, 22px, 400, 0, auto);
          }
        }
      }
    }

    // section {}




  }

  .hero-right {
    figure {
      img {
        width: 100%;
        max-width: 754px;
      }
    }
  }
}
// Hero End


// Everything Start
.everything {
  @include margin-style(0, 0, auto, auto);
  @include padding-style(300, 88, auto, auto);
  @include flex-style(flex, column, auto, auto);
  background: #F2F4F5;

  h2 {
    text-align: center;
    @include custom-style(#000, 72px, 700, 91px, -1.8px);
  }

  div {
    margin-top: 292px;

    article {
      @include padding-style(auto, auto, 140, 140);
      @include flex-style(flex, auto, center, center);
      column-gap: 8rem;
      row-gap: 16rem;
      margin-bottom: 248px;

      figure {

        img {
          width: 100%;
          max-width: 714px
        }
      }

      section {

        h2 {
          width: 845px;
          text-align: left;
          @include custom-style(#000, 72px, 700, 86px, -1.8px);
        }

        p {
          width: 730px;
          margin-top: 1.75rem;
          @include custom-style(#000, 24px, 400, 36px, -0.6px);
        }

        a {
          margin-top: 2.5rem;
          text-align: right;
          @include custom-style(#fff, 18px, 700, auto, auto);
          @include btn-style(#fff, #936EFE, 19px, 36px, 100px);

          &:hover {
            @include btn-style(#936EFE, #EDF860, 19px, 36px, 100px);
           outline: 3px dotted #936EFE;
          }
        }
      }
    }

    article {
      // margin-top: 248px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      section {
        h2 {
          width: 647px;
        }

        p {
          width: 540px;
        }

        a {
          display: inline-flex;
          margin-top: 2.5rem;
          @include custom-style(#fff, 18px, 700, auto, auto);

          &:hover {
            background: #EDF860;
            color: #936EFE;
            outline: 3px dotted #936EFE;
          }
        }
      }

      figure {

        img {
          width: 100%;
          max-width: 714px;
        }
      }
    }
  }

}
// Everything End


// Powerful Start
.powerful {
  @include padding-style(260, 260, 140, 140);

  h2 {
    text-align: center;
    @include custom-style(#000, 72px, 700, 91px, -1.8px);
  }

  .powerful-box {
    margin-top: 5rem;
    @include flex-style(flex, auto, center, auto);
    column-gap: 24px;

    section {
      @include padding-style(68, auto, 32, auto);
      width: 391px;
      height: 296px;
      border-radius: 20px;
      background: #F2F4F5;

      h4 {
        margin-top: 13px;
        @include custom-style(#000, 44px, 500, 0, -1.1px);
      }

      h5 {
        margin-top: 57px;
       @include custom-style(#000, 24px, 500, 0, -0.6px);
      }

      p {
        margin-top: 32px;
        width: 248px;
        @include custom-style(#000, 18px, 400, 24px, 0);
      }

      &:hover {
        background: #936EFE;

        h4, h5, p {
          color: #FFF;
        }
      }
    }
  }
}
// Powerful End


// Time Start
.time {
  @include margin-style(0, 0, auto, auto);
  @include padding-style(260, 276, 140, 140);
  max-width: 1920px;
  background: #100D10;

  h2 {
    width: 880px;
    @include custom-style(#FFF, 72px, 700, 86px, -1.8px);
  }

  h2:last-of-type {
    width: 895px;
  }

  p {
    width: 730px;
    margin-top: 2rem;
    @include custom-style(#FFF, 22px, 400, 36px, 0.33px);
  }

  .time-photos {
    @include margin-style(80, 260, auto, auto);
    // @include padding-style(260, 260, 140, 140);
    @include flex-style(flex, auto, space-between, flex-start);
    column-gap: 28px;

    figure {

      img {
        width: 100%;
        max-width: 388px;
        transition: transform 2.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      }

      &:hover {
        transform: translateY(-43px);
      }
    }

  }
}
// Time End


// Business Start
.business {
  @include padding-style(260, 260, 140, 140);
  @include flex-style(flex, auto, space-between, center);
  // column-gap: 132px;

  .business-info {
    h2 {
      @include custom-style(#000, 72px, 700, 86px, -1.8px);
    }

    p {
      margin-top: 18px;
      width: 630px;
      @include custom-style(#000, 22px, 400, 36px, 0.33px);
    }

    a {
      display: inline-flex;
      margin-top: 2.5rem;
      text-align: right;
      @include custom-style(#fff, 18px, 700, auto, auto);
      @include btn-style(#fff, #936EFE, 19px, 51px, 100px);

      &:hover {
        @include btn-style(#936EFE, #EDF860, 19px, 51px, 100px);
        outline: 3px dotted #936EFE;
      }
    }
  }

  .business-cards {

    section {
      @include padding-style(36, auto, 22, auto);
      margin-bottom: 1.375rem;
      display: flex;
      width: 500px;
      height: 180px;
      border-radius: 30px;
      background: #936EFE;

      figure {
        margin-right: 1rem;

        img {
          width: 100%;
        }

      }
      &:nth-of-type(1) {
        margin-left: 56px;
      }

      &:nth-of-type(2) {
        margin-left: 140px;
        background: #EDF860;
        p {
          color: #000;
        }
      }

      p {
        width: 374px;
        @include custom-style(#FFF, 22px, 400, 36px, -0.55px);
      }
    }
  }
}
// Business End


// Plans Start
.plan {
  @include padding-style(260, 260, auto, auto);
	@include flex-style(flex, column, auto, center);
  background: #F2F4F5;

  h2 {
    text-align: center;
    margin-bottom: 5rem;
    width: 708px;
		@include custom-style(#000, 72px, 700, 86px, auto);
  }

  .plans {
		@include flex-style(flex, auto, center, auto);
    column-gap: 1.5rem;

    .plan-card {
      width: 384px;
			@include btn-style(auto, #FFF, 52px, 32px, 30px);

      h4 {
				@include custom-style(#000, 24px, 500, 30px, auto);
        text-align: left;
      }

      h6 {
        margin-top: 12px;
        width: 228px;
				@include custom-style(#000, 12px, 400, 16px, 0.3px);

        &:last-of-type {
          margin-top: 48px;
        }
      }

      h3 {
				@include custom-style(#000, 61px, 700, auto, -1.525px);
        margin-top: -0.5rem;
      }

      h5 {
				@include custom-style(#000, 14px, 400, auto, -0.35px);
        @include margin-style(8, 32, auto, auto);
      }

      .plan-card__info {

        p:before {
          margin-right: .75rem;
          content: "\f058";
          font-family: FontAwesome;
          color: #A3DC2F;
        }

        p {
          margin-top: 1rem;
					@include custom-style(#000, 16px, 400, 56px, 0.4px);
        }
      }

      .btn-plan {

        a {
          margin-top: 3.25rem;
          display: inline-flex;
          border: 1px solid #000;
          background: none;
					@include custom-style(auto, 16px, 700, 20px, 0.4px);
					@include btn-style(#000, #fff, 20px, 140px, 100px);

          &:hover {
            border: transparent;
            color: #936EFE;
            background: #EDF860;
          }
        }
      }

      &:hover {
        transform: translateY(-24px);
        background: #936EFE;

        h2, h3, h4, h5, h6, p {
          color: #FFF;
        }
          a {
            border: transparent;
            background: #fff;

            &:hover {
              border: #FFF;
            }
          }

      }
    }
  }
}
// Plans End


// Covered Start
.covered {
  @include padding-style(auto, 200, 140, 140);
	@include flex-style(flex, auto, space-between, flex-start);
  background: #F2F4F5;

  .covered-info {
    h2 {
      width: 35.3125rem;
      @include custom-style(#000, 72px, 700, 86px, auto);
    }

    p {
      width: 40rem;
      margin-top: 1.125rem;
      margin-bottom: 3.5rem;
      @include custom-style(#000, 22px, 400, 36px, 0.33px);
    }

    a {
      margin-top: 2.5rem;
      display: inline-flex;
      text-align: right;
      @include custom-style(#fff, 18px, 700, 0, auto);
      @include btn-style(auto, #936EFE, 28px, 36px, 100px);

      &:hover {
        background: #EDF860;
        color: #936EFE;
        outline: 3px dotted #936EFE;
      }
    }
  }

  .accordion {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    .accordion-item {
      border: 1px solid #ddd;
      margin-bottom: 1.625rem;
      border-radius: 16px;
      background: #FFF;


      .accordion-header {
        cursor: pointer;
        background-color: #fff;
        border-radius: 16px;
        height: 2.5rem;
        @include padding-style(8, 8, 16, 16);
        @include flex-style(flex, auto, space-between, center);
        @include custom-style(#222, 16px, 500, auto, auto);
      
        &:hover {
        color: #936EFE;
        background-color: #EDF860;
        }

      }

      .accordion-content {
        display: none;
        @include padding-style(22, 32, 24, 24);
        @include custom-style(65676C, 20px, 400, 28px, 0.5px)
      }
    }

    .accordion-header::after {
      content: "+";
      float: right;
    }

  .accordion-item.active .accordion-header::after {
    content: "-";
  }

  }
}
// Covered End


// Footer Start
.footer {
  @include flex-style(flex, column, auto, auto);
  @include padding-style(140, auto, 140, 140);
  background: #936EFE;

  .footer-top {
    display: grid;
    width: auto;
    grid-template-areas:
    "info nav address";

    .footer-basic {
      grid-area: info;

      h5 {
        margin-top: 2.25rem;
        width: 16.25rem;
        @include custom-style(#E4E4E4, 20, 400, 28px, 0.5px);
      }

      a {
        margin-top: .75rem;
        display: inline-flex;
        @include custom-style(#000, 18px, 700, 0, auto);
        @include btn-style(auto, #fff, 28px, 36px, 100px);

        &:hover {
          color: #936EFE;
          background: #EDF860;
          outline: 3px dotted #EDF860;
        }
    }
    }

    .footer-nav {
      grid-area: nav;
      display: grid;
      width: auto;
      grid-template-areas:
      "company help social address";
      column-gap: 144px;


      ul {

        h4 {
          @include custom-style(#fff, 24px, 700, auto, auto);
          padding-bottom: 48px;
        }

        li {
          padding-top: 16px;
          height: 50px;

          a {
            @include custom-style(#fff, 18px, 400, auto, 0.45px);

            &:hover {
              color: #EDF860;
            }
          }
        }
      }

      #address {
        grid-area: address;
        width: 100%;

        #map {
          margin-bottom: 60px;
          width: 100%;
          @include flex-style(inline-flex, column, center, flex-start);
          row-gap: 1rem;

          #pin {
            color: #A3DC2F;
            text-decoration: underline;
          }
        }

        #contact {
          margin-top: 20px;
          @include flex-style(inline-flex, column, center, flex-start);
          row-gap: 1rem;
        }
      }
    }
}

#footer-bottom {
  border-top: 1px solid #fff;
  margin-top: 5.5rem;

    article {
      @include padding-style(32, 32, auto, auto);
      display: flex;
      justify-content: space-between;

      h6 {
        @include custom-style(#fff, 12px, 400, 30px, 0.5px);
      }
    }

}
}
// Footer End





// Breakpoint Start

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;

@media (max-width: $breakpoint-small) {
  header {
    height: 650px;
    @include padding-style(0, 0, 24, 24);
    @include flex-style(flex, column, center, center);

    figure {
      margin-bottom: 3rem;
    }

    nav {
      ul {
        @include flex-style(flex, column, center, center);
        row-gap: 2rem;
        text-align: center;

        li {
          margin-right: 0;
        }
      }
    }

    .login-signup {
      margin-top: 4rem;
      @include flex-style(flex, column, center, center);
      row-gap: 2rem;

      a {
        margin-left: 0 !important;
      }

      a:last-child {
        display: flex;
        margin-left: 0;
      }
    }
  }

  // Hero Start
.hero {
  @include margin-style(64, 64, 32, 32);
  @include flex-style(flex, column, center, center);

  .hero-left {
    

    .top {
      align-items: flex-end;
    }

    .main {
      margin-top: 2rem;
      width: 100%;
      max-width: 844px;
      @include flex-style(flex, column, flex-start, auto);

      h1 {
        font-size: 38px;
        line-height: 44px;
      }
      
      p {
        margin-top: 3rem;
        width: 100%;
        @include custom-style(#000, 14px, 400, 24px, -0.6px);
      }

      .subs {
        flex-direction: column;

        input {
          height: 64px;
          border: none;
        }
  
        button {
          margin-top: 16px;
          width: 100%;
          height: 64px;
          margin-left: 0;
        }
      }

      .statistics {
        margin-top: 100px;
        display: flex;
  
        article {
          margin-right: 3.75rem;
  
          h2 {
            @include custom-style(#000, 36px, 700, 0, auto);
          }
  
          p {
            margin-top: 3rem;
            @include custom-style(#B1B1B1, 14px, 400, 0, auto);
          }
        }
      }
    }

    // section {}




  }

  .hero-right {
    figure {
      margin-top: 58px;
      img {
        width: 100%;
        max-width: 754px;
      }
    }
  }
}
// Hero End

// Everything Start
.everything {
  @include margin-style(0, 0, auto, auto);
  @include padding-style(0, 0, auto, auto);
  @include flex-style(flex, column, auto, auto);
  background: #F2F4F5;

  h2 {
    text-align: center;
    @include custom-style(#000, 30px, 700, 40px, -0.75px);
  }

  div {
    margin-top: 120px;

    article {
      @include padding-style(auto, auto, 32, 32);
      @include flex-style(flex, column, center, center);

      figure {
        display: flex;

        img {
          width: 100%;
          max-width: 576px;
        }
      }

      section {

        h2 {
          margin-top: -180px;
          width: 352px;
          text-align: left;
          @include custom-style(#000, 36px, 700, 40px, -0.75px);
        }

        p {
          width: 100%;
          margin-top: 1.125rem;
          @include custom-style(#000, 14px, 400, 22px, -0.35px);
        }

        a {
          margin-top: 1.75rem;
          text-align: right;
          @include custom-style(#fff, 14px, 700, 16px, auto);
          @include btn-style(#fff, #936EFE, 19px, 36px, 100px);

          &:hover {
            @include btn-style(#936EFE, #EDF860, 19px, 36px, 100px);
           outline: 3px dotted #936EFE;
          }
        }
      }
    }

    article {
      @include flex-style(flex, column, center, center);

      section {
        h2 {
          width: 100%;
        }

        p {
          width: 100%;
        }

        a {
          display: inline-flex;
          margin-top: 2.5rem;
          @include custom-style(#fff, 18px, 700, auto, auto);

          &:hover {
            background: #EDF860;
            color: #936EFE;
            outline: 3px dotted #936EFE;
          }
        }
      }

      figure {
        margin-top: -100px;
        order: -1;
      }
    }
  }

}
// Everything End


// Powerful Start
.powerful {
  @include padding-style(260, 260, 140, 140);

  h2 {
    text-align: center;
    @include custom-style(#000, 30px, 700, 40px, -0.75px);
  }

  .powerful-box {
    margin-top: 5rem;
    @include flex-style(flex, auto, center, auto);
    flex-wrap: wrap;
    column-gap: 24px;

    section {
      @include padding-style(68, 20, 32, auto);
      width: 188px;
      height: 167px;
      border-radius: 20px;
      background: #F2F4F5;

      h4 {
        @include custom-style(#000, 24px, 700, 0, -0.6px);
      }

      h5 {
        margin-top: 24px;
       @include custom-style(#000, 16px, 400, 14px, -0.4px);
      }

      p {
        margin-top: 16px;
        width: 100%;
        max-width: 248px;
        @include custom-style(#000, 12px, 400, 18px, 0);
      }

      &:hover {
        background: #936EFE;

        h4, h5, p {
          color: #FFF;
        }
      }
    }
  }
}
// Powerful End

}

@media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
  // .header {}


}

// Breakpoint End
