@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family: 'Montserrat', sans-serif;


* {
  margin: 0;
  padding: 0;
  box-sizing:content-box;
  // overflow-x: hidden;
}



::selection {
  color: #EDF860;
  background: #936EFE;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

span {
  color: #936EFE;
}


//Mixin
@mixin custom-style($color, $font-size, $font-weight, $line-height, $letter-spacing) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-family: $font-family;
}

@mixin btn-style($color, $bgcolor, $py, $px, $radius) {
  color: $color;
  background: $bgcolor;
  padding: $py $px;
  border-radius: $radius;
}

@mixin flex-style($display, $flex-direction, $justify-content, $align-items) {
display: $display;
flex-direction: $flex-direction;
justify-content: $justify-content;
align-items: $align-items;
}

// Extends
.px-140 {
  padding-left: 8.75rem;
  padding-right: 8.75rem;
}

.py-260 {
  padding-top: 16.25rem;
  padding-bottom: 16.25rem;
}

.my-130 {
  margin-top: 130px;
  margin-bottom: 130px;
}

// Extend Start
// .nav-text {
//   color: #FFF;
//   text-align: right;
//   font-family: $font-family;
//   font-size: 16px;
//   font-weight: 400;
//   line-height: normal;
//   letter-spacing: 0.4px;
// }






// Header Start
header {
  margin: 0 auto;
  height: 98px;
  background-color: #000;
  @include flex-style(flex, row, space-between, center);
  @extend .px-140;

  // .logo {}

  nav {
    ul {
      list-style: none;
      display: flex;

      li {
        margin-right: 20px;

        a {
          @include custom-style(#FFF, 16px, 400, 0, 0.4px);
          text-align: right;
        }
        :hover {
          color: #EDF860;
        }
      }
    }
  }

  .login-signup {

    a {
      @include custom-style(#FFF, 16px, 400, 0, 0.4px);
      margin-left: 10px;
    }

    :hover {
      color: #EDF860;
    }

    a:last-child {
      margin-left: 2.7rem;
      @include btn-style(auto, #936EFE, 19px, 51px, 100px);
      font-size: 18px;
      font-weight: 700;
    }

    :hover:last-child {
      @include btn-style(#936EFE, #EDF860, 19px, 51px, 100px);
    }
  }

}
// Header End



// Hero Start
.hero {
  @extend .my-130;
  @include flex-style(flex, auto, center, auto);

  .hero-left {
    @include flex-style(flex, column, auto, auto);

    section {
      @include flex-style(flex, auto, flex-start, flex-end);

      i {
        margin-right: 1rem;
        @include btn-style(#EDF860, #936EFE, 21px, 21px, 100px);
      }

      article {
        div {
          p {
            @include custom-style(#000, 24px, 500, 30px, auto);
          }
        }

        div {
          h5 {
            @include custom-style(#000, 14px, 400, 24px, auto);

            u {
              text-decoration-line: underline;
            }
          }
        }
      }
    }

    section {
      margin-top: 2rem;
      width: 100%;
      max-width: 844px;
      
      h1 {
        @include custom-style(#000, 100px, 700, 110px, auto);
      }
    }

    section {
      margin-top: 3rem;

      p {
        width: 100%;
        max-width: 650px;
        @include custom-style(#000, 22px, 400, 36px, auto);
      }
    }

    section {
      input {
        width: 100%;
        max-width: 24rem;
        height: 5rem;
        @include btn-style(auto, #F5F5F5, auto, auto, 40px);
        border: none;
        @include custom-style(#000, 20px, 400, 36px, auto);
        text-indent: 40px;
        opacity: 0.6225;
      }
        input:focus {
          background: #EDF860;
          color: #936EFE;
          outline: none;
        }

      button {
        width: 216px;
        height: 80px;
        margin-left: .75rem;
        @include custom-style(#FFF, 20px, 500, 36px, auto);
        @include btn-style(auto, #936EFE, auto, auto, 40px);
        border: none;
      }
        button:hover {
          background: #EDF860;
          color: #936EFE;
        }
    }

    section {
      margin-top: 88px;
      
      article {
        margin-right: 3.75rem;

        h2 {
          @include custom-style(#000, 56px, 500, 0, auto);
        }

        p {
          margin-top: 3rem;
          @include custom-style(#B1B1B1, 22px, 400, 0, auto);
        }
      }
    }
  }

  .hero-right {
    figure {
      img {
        width: 100%;
        max-width: 754px;
      }
    }
  }
}
// Hero End


// Everything Start
.everything {
  background: #F2F4F5;
  padding-top: 300px;
  padding-bottom: 88px;
  // padding-left: 140px;
  // padding-right: 140px;
  // @extend .px-140;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
    @include custom-style(#000, 72px, 700, 91px, -1.8px);
  }

  div {
    margin-top: 292px;
    // @extend .px-140;

    article {
      @extend .px-140;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding-right: 2rem;
      column-gap: 8rem;
      row-gap: 16rem;
      margin-bottom: 248px;
  
      figure {
        // padding-left: 2rem;
        img {
          width: 100%;
          max-width: 714px
        }
      }
  
      section {
  
        h2 {
          width: 845px;
          text-align: left;
          @include custom-style(#000, 72px, 700, 86px, -1.8px);
        }
  
        p {
          width: 730px;
          margin-top: 1.75rem;
          @include custom-style(#000, 24px, 400, 36px, -0.6px);
        }
  
        a {
          margin-top: 2.5rem;
          text-align: right;
          @include custom-style(#fff, 18px, 700, auto, auto);
          @include btn-style(#fff, #936EFE, 19px, 36px, 100px);
    
          &:hover {
            @include btn-style(#936EFE, #EDF860, 19px, 36px, 100px);
           outline: 3px dotted #936EFE;
          }
        }
      }
    }
  
    article {
      // margin-top: 248px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      section {
        h2 {
          width: 647px;
        }
        
        p {
          width: 540px;
        }
  
        a {
          display: inline-flex;
          margin-top: 2.5rem;
          @include custom-style(#fff, 18px, 700, auto, auto);
    
          &:hover {
            background: #EDF860;
            color: #936EFE;
            outline: 3px dotted #936EFE;
          }
        }
      }
  
      figure {
  
        img {
          width: 100%;
          max-width: 714px;
        }
      }
    }
  }

}
// Everything End





// Powerful Start
.powerful {
  padding-top: 16.25rem;
  padding-bottom: 16.25rem;
  @extend .px-140;

  h2 {
    text-align: center;
    @include custom-style(#000, 72px, 700, 91px, -1.8px);
  }

  .powerful-box {
    margin-top: 5rem;
    @include flex-style(flex, auto, center, auto);
    column-gap: 24px;

    section {
      width: 391px;
      height: 296px;
      border-radius: 20px;
      background: #F2F4F5;
      padding-top: 4.25rem;
      padding-left: 2rem;

      h4 {margin-top: 13px;
        @include custom-style(#000, 44px, 500, 0, -1.1px);
      }

      h5 {
        margin-top: 57px;
       @include custom-style(#000, 24px, 500, 0, -0.6px);
      }

      p {
        margin-top: 32px;
        width: 248px;
        @include custom-style(#000, 18px, 400, 24px, 0);
      }
      
      &:hover {
        background: #936EFE;

        h4, h5, p {
          color: #FFF;
        }
      }
    }
  }
}
// Powerful End




// Time Start
.time {
  margin: 0 auto;
  max-width: 1920px;
  padding-top: 16.25rem;
  padding-bottom: 17.25rem;
  @extend .px-140;
  background: #100D10;

  h2 {
    width: 880px;
    @include custom-style(#FFF, 72px, 700, 86px, -1.8px);
  }

  h2:last-of-type {
    width: 895px;
  }

  p {
    width: 730px;
    margin-top: 2rem;
    @include custom-style(#FFF, 22px, 400, 36px, 0.33px);
  }

  .time-photos {
    margin-top: 80px;
    margin-bottom: 16.25rem;
    @include flex-style(flex, auto, space-between, flex-start);
    column-gap: 28px;

    figure {

      img {
        width: 100%;
        max-width: 388px;
        transition: transform 2.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      }

      &:hover {
        transform: translateY(-43px);
      }
    }

  }
}
// Time End


// Business Start
.business {
  @extend .px-140;
  @extend .py-260;
  @include flex-style(flex, auto, space-between, center);
  // column-gap: 132px;

  .business-info {
    h2 {
      @include custom-style(#000, 72px, 700, 86px, -1.8px);
    }
    
    p {
      margin-top: 18px;
      width: 630px;
      @include custom-style(#000, 22px, 400, 36px, 0.33px);
    }

    a {
      display: inline-flex;
      margin-top: 2.5rem;
      @include custom-style(#fff, 18px, 700, auto, auto);
      @include btn-style(#fff, #936EFE, 19px, 51px, 100px);
      text-align: right;

      &:hover {
        @include btn-style(#936EFE, #EDF860, 19px, 51px, 100px);
        outline: 3px dotted #936EFE;
      }
    }
  }

  .business-cards {

    section {
      padding-top: 2.25rem;
      padding-left: 1.375rem;
      width: 500px;
      height: 180px;
      border-radius: 30px;
      background: #936EFE;
      margin-bottom: 1.375rem;
      display: flex;

      figure {
        margin-right: 1rem;

        img {
          width: 100%;
        }

      }
      &:nth-of-type(1) {
        margin-left: 56px;
      }

      &:nth-of-type(2) {
        margin-left: 140px;
        background: #EDF860;
        p {
          color: #000;
        }
      }

      p {
        width: 374px;
        color: #FFF;
        font-family: $font-family;
        font-size: 22px;
        font-weight: 400;
        line-height: 36px; /* 163.636% */
        letter-spacing: -0.55px;
      }
    }
  }
}
// Business End



// Plans Start
.plan {
  @extend .py-260;
  background: #F2F4F5;
	@include flex-style(flex, column, auto, center);

  h2 {
    text-align: center;
    margin-bottom: 5rem;
    width: 708px;
		@include custom-style(#000, 72px, 700, 86px, auto);
  }

  .plans {
		@include flex-style(flex, auto, center, auto);
    column-gap: 1.5rem;

    .plan-card {
      width: 384px;
			@include btn-style(auto, #FFF, 52px, 32px, 30px);

      h4 {
				@include custom-style(#000, 24px, 500, 30px, auto);
        text-align: left;
      }

      h6 {
        margin-top: 12px;
        width: 228px;
				@include custom-style(#000, 12px, 400, 16px, 0.3px);

        &:last-of-type {
          margin-top: 48px;
        }
      }

      h3 {
				@include custom-style(#000, 61px, 700, auto, -1.525px);
        margin-top: -0.5rem;
      }

      h5 {
				@include custom-style(#000, 14px, 400, auto, -0.35px);
        margin-top: 0.5rem;
        margin-bottom: 2rem;
      }

      .plan-card__info {

        p:before {
          margin-right: .75rem;
          content: "\f058";
          font-family: FontAwesome;
          color: #A3DC2F;
        }

        p {
          margin-top: 1rem;
					@include custom-style(#000, 16px, 400, 56px, 0.4px);    
        }
      }

      .btn-plan {

        a {
          margin-top: 3.25rem;
          display: inline-flex;
					@include btn-style(#000, #936EFE, 20px, 140px, 100px);
					@include custom-style(auto, 16px, 700, 20px, 0.4px)
          line-height: 20px; /* 125% */
          border: 1px solid #000;
          background: none;
    
          &:hover {
            border: transparent;
            color: #936EFE;
            background: #EDF860;
          }
        }
      }

      &:hover {
        transform: translateY(-24px);
        background: #936EFE;

        h2, h3, h4, h5, h6, p {
          color: #FFF;
        }   
          a {
            border: transparent;
            background: #fff;

            &:hover {
              border: #FFF;
            }
          }

      }
    }
  }
}
// Plans End